<form action="/<%= kontak.id %>/edit" method="post">
  <label for="">Nama</label>
  <input type="text" name="nama" value="<%= kontak.nama %>" required />
  <br />

  <label for="">HP</label>
  <input type="text" name="nohp" value="<%= kontak.nohp %>" required />
  <br />
  <button type="submit">Edit</button>
</form>
